.footer {
 height: auto;
  width: 100%;
  background: $main-color;
  padding: 10px;
  .footer-socialImg {
    height: 25px;
    max-width: 100%;
    margin: 50px;
    text-align:right;
  }
  .footerCards {
    height: 30%;
    max-width: 100%;
    margin: 50px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .footerCard {
      min-height: 100px;
      .footerCardTitle {
        height: 70px;
        width: 100%;
        p {
          height: 50px;
          line-height: 40px;
          font-weight: bold;
        }
      }
      .footerCardDetail {
        min-height: 60px;
        font-size: 12pt;
        color: #272727;
      }
    }
  }
}
