@media screen and (max-width: 768px) {
  .header {
    max-width: 100%;
    .headerUpper {
      align-items: center;
      .selections {
        display: none;
      }
      .logo {
        display: none;
      }
      .icons {
        display: none;
      }
    }
    .navbar {
      width: 100%;
      ul {
        display: none;
      }
      .socialImg {
        align-self: center;
        justify-self: center;
        width: 80px;
        height: auto;
      }
      .mobile-logo {
        display: block !important;
        height: 50px;
        width: 50px;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
      }
      .shoppingImg {
        align-self: center;
        justify-self: center;
        img {
          width: 20px;
          height: auto;
        }
      }
    }
  }

  .imgCards {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto;
  }
  .footer-socialImg {
    text-align: center;
  }
  .footerCards {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: auto;
    
    text-align: center;
    .footerCardDetail{
        margin-top:0px;
    }
  }
}

@media screen and (max-width: 575px) {
  .header {
    max-width: 100%;
    .headerUpper {
      align-items: center;
      .selections {
        display: none;
      }
      .logo {
        display: none;
      }
      .icons {
        display: none;
      }
    }
    .navbar {
      width: 100%;
      ul {
        display: none;
      }
      .socialImg {
        align-self: center;
        justify-self: center;
        width: 80px;
        height: auto;
      }
      .mobile-logo {
        display: block !important;
        height: 50px;
        width: 50px;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 18px;
        text-align: center;
      }
      .shoppingImg {
        align-self: center;
        justify-self: center;
        img {
          width: 20px;
          height: auto;
        }
      }
    }
  }

  .imgCards {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: auto;
  }
  .footer-socialImg {
    text-align: center;
  }
  .footerCards {
    grid-template-columns: repeat(1, 1fr) !important;
    text-align: center;
  }
}
